.sub-banner {
  background: url('ProductImages/SubmersibleImages/Best-Submersible-Pumps-In-India.jpg') center center / cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 0 1.5rem;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}